.body {
    background-image: scr="./lets-play-neon";  
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.padre {
    display: grid;
    justify-content: center;
  }
.hijo {
    padding: 10px;
    margin: 10px;
    color: white;
    text-shadow: black 1px 3px;        
  }
  .hijoRojo {
    padding: 10px;
    margin: 10px;
    color: red;
    text-shadow: black 1px 1px;        
  }
  .selectfont{
    font-size:18px
  }

  .colorLetrasBienvenido{   
    border-radius:30px;
    border:5px solid black;
    /* background-color: rgb(88, 85, 85); */
    background-color: rgba(42, 41, 41, 0.698);
    color: white;
    margin: 1rem;
    /* padding: 1rem; */
    /* text-align: center; */
    width: 600px;
    /* height: 350px; */
}